= form_for [:admin, @city], :validate => true, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :state_id, :class => 'control-label'
    .controls
      = f.select :state_id, @states.map{ |s| [s.name, s.id] }, :prompt => true
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_cities_path, :class => 'btn'
